# Rasa
.config/
.keras/
.rasa/
models/

# python cache 
__pycache__

# VScode files
.vscode/

# miscallenous
info/
.env
.gitignore
.gitlab-ci.yml
docker-compose.yml
Dockerfile
env-dev.sh
rasa-actions.dockerfile
requirements-auxiliary.txt
requirements.txt

# web-clients
web-client/

# ES data and scraped data
es/data/**/*.json

# ES scripts for playground
es/scripts/

# simple front-end
web-client/
