# Rasa
.config/
.keras/
.rasa/
results/*

# Python cache 
__pycache__

# VScode files
.vscode/

# Miscallenous
info/
.env
.gitignore
.gitlab-ci.yml
docker-compose.yml
Dockerfile
env-dev.sh
rasa-actions.dockerfile
requirements-auxiliary.txt
requirements.txt

# Web-clients
web-client/

# ES data and scraped data
# actions/es/data/*
#!actions/es/data/mappings/*