# Rasa files and models
.config/
.keras/
.rasa/
models/
story_graph.dot
results/*

# python byte code
__pycache__/

# VScode files
.vscode/

# ES data and scraped data
actions/es/data/**/*.json
!actions/es/data/mappings/*

# Some test data
actions/es/scripts/test/*

# Development environment variables
env-dev.sh