# Rasa files and models
.config/
.keras/
.rasa/
models/
story_graph.dot

# python byte code
__pycache__/

# VScode files
.vscode/

# ES data and scraped data
actions/es/data/**/*.json

# Development environment variables
env-dev.sh