# jupyter client
Send2Trash==1.8.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
matplotlib-inline==0.1.3
mistune==0.8.4
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.14.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.12.0
pyzmq==23.0.0
qtconsole==5.3.0
qtpy==2.1.0
soupsieve==2.3.2.post1
stack-data==0.2.0
terminado==0.15.0
tinycss2==1.1.1
tornado==6.1
traitlets==5.2.1.post0
webencodings==0.5.1
widgetsnbextension==3.6.0

# tiny dependency resolver for development purposes
pipdeptree==2.2.1

# for local fast embedding vectorization
# tensorflow-gpu==2.6.1

# for styling guide
autopep8==1.6.0
pycodestyle==2.8.0
toml==0.10.2

# pylint
astroid==2.11.7
dill==0.3.5.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pylint==2.14.4
tomli==2.0.1
tomlkit==0.11.1