# for SpaCy models - en_core_web_trf
filelock==3.7.0
huggingface-hub==0.6.0
sacremoses==0.0.53 
spacy-alignments==0.8.5
spacy-transformers==1.1.5
tokenizers==0.12.1
torch==1.11.0
transformers==4.17.0

# pandas
pandas==1.4.2