# rasa-sdk
aiofiles==0.8.0
certifi==2021.10.8
charset-normalizer==2.0.12
coloredlogs==15.0.1
httptools==0.4.0
humanfriendly==10.0
idna==3.3
multidict==5.2.0
pip==22.0.4
prompt-toolkit==2.0.10
rasa-sdk==3.1.1
requests==2.27.1
sanic==21.12.1
Sanic-Cors==2.0.1
sanic-routing==0.7.2
setuptools==44.0.0
six==1.16.0
typing-extensions==3.10.0.2
ujson==5.1.0
urllib3==1.26.9
uvloop==0.16.0
wcwidth==0.2.5
websockets==10.2
