-r requirements.txt

# create nlu data for ResponseSelector
pandas

# to plot tensorflow models, requires:
# - pydot_ng
# - Graphviz software with executables (bin) on system path.
pydot-ng

# action to create report PR
pytablewriter

# lint/format/types
black
flake8
pytype
pylint
